@(message: String, userName: String) @main("Welcome to the sector select room") {
   
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/waitingroom.css")">
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/titlebar.css")">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<script src="@routes.Assets.at("third/angularjs/angular.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("third/angularjs/angular-resource.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/exerciseSelectController.js")" type="text/javascript"></script>


<div data-ng-app="exerciseSelectApp">
   <div class="titlebar">
    
    <div class="applicationName">           
      <span>NEWSIM</span> Web
   </div>       
   <div class="userName">    
       User: @userName                            
   </div>
   <div class="logoutWrapper">
     <a href="@routes.Application.login()">
      <i class="fa fa-sign-out"></i>
     </a>    
    </div>
    </div>
  
  <div class="waitingRoom">
    <div class="exerciseMenu" ng-controller="exerciseSelectController">
      <table align="center" ng-repeat="exercise in exercises"> 
        <tr> 
          <td class="exercise">{{exercise.exercise_name}}</td> 
          <td class="button" ><a ng-click="startExercise(exercise.exercise_id)"><i class="fa fa-play-circle"></i></a></td>
          <td class="button share"><div><i class="fa fa-envelope"></i></div></td>
        </tr>
        <tr ng-repeat="session in exercise.sessions">
          <td class="instance">{{session.session_id}}</td> 
          <td><a ng-click="joinSession(session.session_id)"><i class="fa fa-users"></i></a></td>
          <td class="share"><div><i class="fa fa-envelope"></i></div></td>
        </tr> 
      </table>    
    </div>
            
  <div class="chatRoom">
     <i class="fa fa-weixin fa-2x"></i>
  </div>

            

   </div>
  </div>      
   <footer>
   Deutsche Flugsicherung GmbH    
  </footer>
      <!-- 
  <div ng-controller="exerciseSelectController">
    <div id="selectExercise">
      <ul>
        <li ng-repeat="exercise in exercises">{{exercise.exercise_name}}
          <button ng-click="startExercise(exercise.exercise_id)">Start</button>
          <ul>
            <li ng-repeat="session in exercise.sessions">{{session.session_id}}
              <button ng-click="joinSession(session.session_id)">join</button>
            </li>  
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>

 -->


}
