@(sessionId: String, chatId:String, workspacesId:String) @main("Welcome to the sector select room") {

<div data-ng-app="joinSessionApp">
  <div id="sessionId" data-sessionid="@sessionId"/>
	<div id="chatId" data-chatid="@chatId"/>
  <div id="workspacesId" data-workspacesid="@workspacesId"/>
  <div ng-controller="joinSessionController">
		<table>
			<tr ng-repeat="workspace in workspaces">
				<td><button ng-disabled="{{!workspace.selectable}}" ng-click="select(workspace.workspace_name)" ng-init="count=0">Increment</button>
				<td>{{workspace.workspace_name}}</td>
		    <td>{{workspace.user_id}}</td>
    
			</tr>
		</table>
	</div>

 <div ng-controller="chatController">
    <div id="selectExercise">
      <ul>
        <li ng-repeat="line in chat  track by $index">
         {{line}}
        </li>
      </ul>
      <input ng-keyup="($event.which === 13)?submit():0" ng-model="input">
    </div>
  </div>
</div>
<script src="@routes.Assets.at("javascripts/websocketmodule.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/joinSessionController.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("third/jquery/jquery-min.js")" type="text/javascript"></script>
  

}
